name: first workflow

on:
  push:
    branches:
      - main

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: welcome message
        run: echo "hello world"
      - name: list-files
        run: ls
      - name: read files
        run: cat README.md
